.mobile {
    box-sizing: border-box;
}

/* navbar */
.mobile_nav {
    height: 50px;
    background-color: lightgrey;
    position: sticky;
    top: 0px;
    z-index: 666;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.mobile_nav .menu {
    height: 100%;
    width: 15%;
    float: left;
    position: relative;
}

.mobile_nav .fa-bars {
    line-height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mobile_nav .fa-bars::before {
    font-size: 2rem;    
}

.logo {
    text-align: center;
}

/* overlay */
.overlay {
    position: relative;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 777;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay .fa-times {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 1.8rem;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #949494;
    display: block;
    transition: 0.3s;
}  
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.mobile.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    margin: 0 5px;
    position: absolute;
    bottom: 8px;
}

.mobile.column img {
    filter: opacity(60%);
    background-color: #818181;
    margin-top: 8px;
    vertical-align: middle;
    transition: 0.5s;
}

.mobile.column img:hover {
    filter: opacity(100%);
}

.mobile.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.mobile.products img {
    background-color: #f1f1f1;
    filter: opacity(1);
}

.mobile.products div:hover span {
    filter: opacity(1);
}

.mobile.products span {
    position: absolute;
    bottom: 0;
    right: 1rem;
    z-index: 888;
    font-size: 1.5rem;
    transition: 0.5s;
    filter: opacity(0);
}



